.btn {
    width: 100px;
    height: 30px;
     background-color:bisque;
}

.item_btn {
    background-color: aqua;
}

.btn_filter {
    background-color:blueviolet;
    color: white;
}

.active-filter {
    background-color: red;
}

.counter_btn {
    width: 400px;
    margin: 10px 5px 0 5px;
}
